:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Prevent body scroll */
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}